/* region MAIN */

.breadcrumb,
.breadcrumb a {
    font-family: "Geometr415 Lt BT Lite", sans-serif;
    background-color: #254E58;
    color: #ffffff;
}

.main-login {
    background-image: url("../res/undraw-login.svg");
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
}

/* endregion MAIN */

/* region INDEX */
.carousel-inner {
    margin-top: 2% !important;
    height: 300px !important;
    width: 200px !important;
 }

.carousel .item {
    height: 300px;
    width:  200px;
}

.item img {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 300px;
}
/* endregion */

/* region CONTAINER rapido-saramago */


.rapido-saramago #w1 {
    font-family: "Geometric 415 Lt BT Lite", sans-serif;
    padding: 5px;
    border-radius: 5px;
    font-size: 18px;
    border: 1px solid black;
    width: 100%;
}

.rapido-saramago div { 
    text-align: -webkit-center;
 }

.rapido-saramago table {
    font-family: "Geometric 415 Lt BT Lite", sans-serif;
    padding: 5px;
    border-radius: 5px;
    font-size: 18px;
    background-color:#fafafa;
    width: 100%;

}

.rapido-saramago li {
    background-color:#ddddff;
}

.rapido-saramago th {
    border-collapse: separate !important;
    border-radius: 5px;
    background-color:#eeeeee;
    height: 100%;
}

.rapido-saramago td {
    border-collapse: separate !important;
    border-radius: 5px;
    background-color:#eeeeee;
    height: 100%;

}

.contrast-text{
    width: 90%;
    height: 90%;
    background-color: rgba(5, 5, 5, 0.3);
    border-radius:5px;
}

.rapido-saramago img {
    font-family: "Geometric 415 Lt BT Lite", sans-serif;
    border-radius: 5px;
    font-size: 18px;
    border: 1px solid black;
}


.rapido-saramago .panel-default    {
    font-family: "Geometric 415 Lt BT Lite", sans-serif;
    padding: 5px;
    border-radius: 5px;
    font-size: 18px;
    background-color:#fafafa;
    width: 100%;
}


.rapido-saramago h1 {
    font-family: "Geometric 415 Lt BT Lite", sans-serif;
    padding: 5px;
    font-size: 40px;
    width: 100%;
}

.rapido-saramago form input{
    font-family: "Geometric 415 Lt BT Lite", sans-serif;
    padding: 5px;
    border-radius: 5px;
    font-size: 18px;
    border: 1px solid black;
    width: 100%;
}

.rapido-saramago form button {
    font-family: "Geometric 415 Lt BT Lite", sans-serif;
    border-radius: 5px;
    padding-bottom: 5px;
    background: #ffffff;
    color: black;
    font-size: 18px;
    border: 1px solid black;
    width: 100%;
    transition-duration: 0.4s;

}

.rapido-saramago form button:hover {
    background-color: #254E58;
    color: #ffffff;
}

/* endregion */

/* region LOGIN */
.container .saramago-login .col-lg-5{
    background-color: #ffffff;
    padding-right: 10px;
    padding-left: 10px;
    border: 3px solid #254E58;
    border-radius: 5px;
}

.saramago-login h1,h2,h3,h4,h5,h6,p,a{
    font-family: "Geometr415 Lt BT Lite", sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
}

.site-login form button,
.site-request-password-reset form button,
.site-resend-verification-email form button {
    font-family: "Geometric 415 Lt BT Lite", sans-serif;
    border-radius: 5px;
    background: #ffffff;
    color: black;
    font-size: 20px;
    border: 1px solid black;
    width: 100%;
    transition-duration: 0.4s;
}

.site-login form button:hover,
.site-request-password-reset form button:hover,
.site-resend-verification-email form button:hover {
    background-color: #254E58;
    color: #ffffff;
}

.container .site-request-password-reset .col-lg-5{
    background-color: #ffffff;
    padding: 10px;
    border: 3px solid #254E58;
    border-radius: 5px;
}

.container .site-resend-verification-email .col-lg-5{
    background-color: #ffffff;
    padding: 10px;
    border: 3px solid #254E58;
    border-radius: 5px;
}

/* endregion */

/* region CONTAINER pesquisa-saramago */


.rapido-pesquisa #w1 {
    font-family: "Geometric 415 Lt BT Lite", sans-serif;
    padding: 5px;
    border-radius: 5px;
    font-size: 18px;
    border: 1px solid black;
    width: 100%;
}

.rapido-pesquisa table {
    border-collapse: separate !important;
    background-color: #eee;
    margin-top: 1%;
    margin-left: 1%;
    margin-bottom: 2%;
    border-radius: 5px;
    border: 1px solid black;
    width: 98%;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
    -webkit-box-orient: vertical;
}

div.rapido-pesquisa {
    height: 600px;
    overflow-y: auto;
}


.rapido-pesquisa img {
    font-family: "Geometric 415 Lt BT Lite", sans-serif;
    margin-top: 5px;
    margin-left: 5px;
    border-radius: 5px;
    font-size: 18px;
    border: 1px solid black;
}

.rapido-pesquisa td {
    font-family: "Geometric 415 Lt BT Lite", sans-serif;
    padding-top: 5px;
    padding-left: 5px;
    border-radius: 5px;
    font-size: 18px;
}


.rapido-pesquisa .panel-default    {
    font-family: "Geometric 415 Lt BT Lite", sans-serif;
    padding: 5px;
    border-radius: 5px;
    font-size: 18px;
    border: 1px solid black;
    width: 100%;
}


.rapido-pesquisa h1 {
    font-family: "Geometric 415 Lt BT Lite", sans-serif;
    padding: 5px;
    font-size: 40px;
    width: 100%;
}

.rapido-pesquisa form input{
    font-family: "Geometric 415 Lt BT Lite", sans-serif;
    padding: 5px;
    border-radius: 5px;
    font-size: 18px;
    border: 1px solid black;
    width: 100%;
}

.rapido-pesquisa form button {
    font-family: "Geometric 415 Lt BT Lite", sans-serif;
    border-radius: 5px;
    padding-bottom: 5px;
    background: #ffffff;
    color: black;
    font-size: 18px;
    border: 1px solid black;
    width: 100%;
    transition-duration: 0.4s;

}

.rapido-pesquisa form button:hover {
    background-color: #254E58;
    color: #ffffff;
}

/* endregion */


.item-class{
  width: 49%;
  //border:1px solid red;
  margin-bottom:2px;
  margin-right:2px;
}
.parent-class{
  width:100%;
  display:flex;
  flex-wrap:wrap ;
}