/* region MAIN */

.breadcrumb,
.breadcrumb a {
    font-family: "Geometr415 Lt BT Lite", sans-serif;
    background-color: #aaaaaa;
    color: #ffffff;
}

.main-login {
    background-image: url("../res/undraw-login.svg");
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
}

/* endregion MAIN */

/* region Carousel */
.carousel-inner {

}

.carousel item {
    height: 300px;
    width:  200px;
}

.carousel news {
    height: 100%;
    width: 100%;
}

.item img {
    position: all !important;
    min-width: 200px !important;
    min-height: 300px !important;
    max-height: 300px !important;
    max-width: 200px !important;
    border-top: 1px solid #aaaaaa;
    border-left: 1px solid #aaaaaa;
    border-right: 10px solid #eeeeee;
    border-bottom: 5px solid #eeeeee;
    border-radius: 3px 19px 14px 3px !important;
}
/* endregion */

/* region CONTAINER rapido-saramago */


.rapido-saramago #w1 {
    font-family: "Geometric 415 Lt BT Lite", sans-serif;
    padding: 5px;
    border-radius: 5px;
    font-size: 18px;
    border: 1px solid black;
    width: 100%;
}

.rapido-saramago div { 
    text-align: -webkit-center;
 }

.rapido-saramago .item-noticia {
    margin: 50px;
    position: relative;
    resize: vertical;
    overflow: auto;
    height:250px;
}

.rapido-saramago .noticia {
    height: 352.6px;
}

.rapido-saramago table {
    font-family: "Geometric 415 Lt BT Lite", sans-serif;
    padding: 5px;
    border-radius: 5px;
    font-size: 18px;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(228,228,228,1) 86%, rgba(255,255,255,1) 100%);
    width: 100%;

}

.rapido-saramago .bookgraphic {
    -moz-transform: scale(0.8) skew(10deg, -10deg);
    -webkit-transform: scale(0.8) skew(10deg, -10deg);
    -o-transform: scale(0.8) skew(10deg, -10deg);
    -ms-transform: scale(0.8) skew(10deg, -10deg);
    transform: scale(0.8) skew(10deg, -10deg);
}

.rapido-saramago .bookgraphic-text {
    -moz-transform: scale(0.8) translate(10px, 0px) skew(10deg, -10deg);
    -webkit-transform: scale(0.8) translate(10px, 0px) skew(10deg, -10deg);
    -o-transform: scale(0.8) translate(10px, 0px) skew(10deg, -10deg);
    -ms-transform: scale(0.8) translate(10px, 0px) skew(10deg, -10deg);
    transform: scale(0.8) translate(10px, 0px) skew(10deg, -10deg);
}

.rapido-saramago li {
    background-color:#999;
}

.rapido-saramago th {
    border-collapse: separate !important;
    border-radius: 5px;
    background: rgb(242,242,242);
    background: linear-gradient(180deg, rgba(242,242,242,1) 0%, rgba(205,205,205,1) 80%, rgba(232,232,232,1) 100%);
    height: 100%;
}

.rapido-saramago td {
    border-collapse: separate !important;
    border-radius: 5px;
    background: rgb(242,242,242);
    background: linear-gradient(180deg, rgba(242,242,242,1) 0%, rgba(205,205,205,1) 80%, rgba(232,232,232,1) 100%);
    height: 100%;

}

.rapido-saramago .obras-disponiveis {
    height: 80px;
    overflow-y: scroll;
}

/* Esconder scrollbar mas manter a sua funcionalidade */
/* Hide scrollbar for Chrome, Safari and Opera */
.rapido-saramago .obras-disponiveis::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.rapido-saramago .obras-disponiveis{
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.rapido-saramago img {
    font-family: "Geometric 415 Lt BT Lite", sans-serif;
    border-radius: 5px;
    font-size: 18px;
}

.rapido-saramago .container {
  font-family: "Geometric 415 Lt BT Lite", sans-serif;
  position: absolute;
  top: 50%;
  left: 20px;
  right: 20px;
  padding: 20px;
  transform: translateY(-50%);
  resize: vertical;
  overflow: auto;
}

.rapido-saramago .vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}


.rapido-saramago .panel-default    {
    font-family: "Geometric 415 Lt BT Lite", sans-serif;
    padding: 5px;
    border-radius: 5px;
    font-size: 18px;
    background: rgb(255,255,255);
    background: radial-gradient(circle, rgba(244,255,255,1) 0%, rgba(241,245,244,1) 0%, rgba(233,255,255,1) 100%);
    width: 100%;
}

.rapido-saramago .panel-heading    {
    font-family: "Geometric 415 Lt BT Lite", sans-serif;
    padding: 5px;
    border-radius: 5px;
    font-size: 18px;
    background: rgb(226,226,226);
    background: linear-gradient(180deg, rgba(226,226,226,1) 0%, rgba(247,247,247,1) 100%);
    width: 100%;
}

.rapido-saramago h3 {
    font-family: "Geometric 415 Lt BT Lite", sans-serif;
}

.rapido-saramago h1 {
    font-family: "Geometric 415 Lt BT Lite", sans-serif;
    padding: 5px;
    font-size: 40px;
    width: 100%;
}

.rapido-saramago form input{
    font-family: "Geometric 415 Lt BT Lite", sans-serif;
    padding: 5px;
    border-radius: 5px;
    font-size: 18px;
    border: 1px solid black;
    width: 100%;
}

.rapido-saramago form button {
    font-family: "Geometric 415 Lt BT Lite", sans-serif;
    border-radius: 5px;
    padding-bottom: 5px;
    background: #ffffff;
    color: black;
    font-size: 18px;
    border: 1px solid black;
    width: 100%;
    transition-duration: 0.4s;

}

.rapido-saramago form button:hover {
    background-color: #254E58;
    color: #ffffff;
}

/* endregion */

/* region LOGIN */
.container .saramago-login .col-lg-5{
    background-color: #ffffff;
    padding-right: 10px;
    padding-left: 10px;
    border: 3px solid #254E58;
    border-radius: 5px;
}

.saramago-login h1,h2,h3,h4,h5,h6,p,a{
    font-family: "Geometr415 Lt BT Lite", sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
}

.site-login form button,
.site-request-password-reset form button,
.site-resend-verification-email form button {
    font-family: "Geometric 415 Lt BT Lite", sans-serif;
    border-radius: 5px;
    background: #ffffff;
    color: black;
    font-size: 20px;
    border: 1px solid black;
    width: 100%;
    transition-duration: 0.4s;
}

.site-login form button:hover,
.site-request-password-reset form button:hover,
.site-resend-verification-email form button:hover {
    background-color: #254E58;
    color: #ffffff;
}

.container .site-request-password-reset .col-lg-5{
    background-color: #ffffff;
    padding: 10px;
    border: 3px solid #254E58;
    border-radius: 5px;
}

.container .site-resend-verification-email .col-lg-5{
    background-color: #ffffff;
    padding: 10px;
    border: 3px solid #254E58;
    border-radius: 5px;
}

/* endregion */

/* region CONTAINER pesquisa-saramago */


.rapido-pesquisa #w1 {
    font-family: "Geometric 415 Lt BT Lite", sans-serif;
    padding: 5px;
    border-radius: 5px;
    font-size: 18px;
    border: 1px solid black;
    width: 100%;
}

.rapido-pesquisa table {
    border-collapse: separate !important;
    background: rgb(247,247,247);
    background: linear-gradient(180deg, rgba(247,247,247,1) 0%, rgba(247,247,247,1) 100%);
    height: 600px;
    margin-top: 1%;
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 1%;
    border-radius: 5px;
    border: 1px solid black;
    overflow-y: scroll;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
    -webkit-box-orient: vertical;
}

/* Esconder scrollbar mas manter a sua funcionalidade */
/* Hide scrollbar for Chrome, Safari and Opera */
.rapido-pesquisa table::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.rapido-pesquisa table{
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

div.rapido-pesquisa {
}


.rapido-pesquisa img {
    font-family: "Geometric 415 Lt BT Lite", sans-serif;
    margin-top: 5px;
    margin-left: 5px;
    border-radius: 5px;
    font-size: 18px;
    border: 1px solid black;
}

.rapido-pesquisa td {
    font-family: "Geometric 415 Lt BT Lite", sans-serif;
    padding-top: 5px;
    padding-left: 5px;
    border-radius: 5px;
    font-size: 18px;
}


.rapido-pesquisa p {
    font-family: "Geometric 415 Lt BT Lite", sans-serif;
    font-size: 18px;
}

.rapido-pesquisa .panel-default    {
    font-family: "Geometric 415 Lt BT Lite", sans-serif;
    padding: 5px;
    border-radius: 5px;
    font-size: 18px;
    border: 1px solid black;
    width: 100%;
}


.rapido-pesquisa h1 {
    font-family: "Geometric 415 Lt BT Lite", sans-serif;
    padding: 5px;
    font-size: 40px;
    width: 100%;
}

.rapido-pesquisa form input{
    font-family: "Geometric 415 Lt BT Lite", sans-serif;
    padding: 5px;
    border-radius: 5px;
    font-size: 18px;
    border: 1px solid black;
    width: 100%;
}

.rapido-pesquisa form button {
    font-family: "Geometric 415 Lt BT Lite", sans-serif;
    border-radius: 5px;
    padding-bottom: 5px;
    background: #ffffff;
    color: black;
    font-size: 18px;
    border: 1px solid black;
    width: 100%;
    transition-duration: 0.4s;

}

.rapido-pesquisa form button:hover {
    background-color: #254E58;
    color: #ffffff;
}

/* endregion */


.item-class{
  width: 49%;
  //border:1px solid red;
  margin-bottom:2px;
  margin-right:2px;
}
.parent-class{
  width:100%;
  display:flex;
  flex-wrap:wrap ;
}

ul, ol {
    margin-top: 0;
    margin-bottom: 0;
}

.contrast-text {
    width: fit-content;
    height: fit-content;
    background-color: rgba(5, 5, 5, 0.3);
    border-radius: 5px;
    padding: 4px;
}


.carousel-indicators {
    bottom: 0px;
}

.rapido-pesquisa-table {
    height: 100%;
}

.normal-scroll {
    overflow-x: scroll;
}

.hidden-scroll {
    overflow-x: scroll;
}

/* Esconder scrollbar mas manter a sua funcionalidade */
/* Hide scrollbar for Chrome, Safari and Opera */
.hidden-scroll::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hidden-scroll{
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.menu-info-saramago img {
    margin-bottom: 20px;
    border-radius: 30px;
}