@font-face {
    font-family: 'Geometric 415 Black BT';
    src: url('geometric-415-black-bt') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Geometric 415 Black Italic BT';
    src: url('geometric-415-black-italic') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Geometr415 Lt BT Lite';
    src: url('geometric-415-lt-bt-lite') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Geometr415 Lt BT Lite';
    src: url('geometric-415-lt-bt-lite') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Geometric 415 Medium BT';
    src: url('geometric-415-medium-bt') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Geometric 415 Medium Italic BT';
    src: url('geometric-415-medium-italic-bt') format('truetype');
    font-weight: normal;
    font-style: normal;
}